<wm-page data-ng-controller="MainPageController" name="page1" pagetitle="Main">
    <wm-content name="content1">
        <wm-page-content name="page_content1" columnwidth="12">
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane1">
                    <wm-tabheader name="tabheader1"></wm-tabheader>
                    <wm-tabcontent name="tabcontent1">
                        <wm-button class="btn-default" type="button" caption="Button" name="button1"></wm-button>
                    </wm-tabcontent>
                </wm-tabpane>
            </wm-tabs>
            <wm-select class="select-locale" name="select1" dataset="bind:Variables.supportedLocale.dataSet" on-change="changeAppLocale($scope)"></wm-select>
            <wm-label caption="bind:appLocale.m12" name="label1"></wm-label>
        </wm-page-content>
    </wm-content>
</wm-page>